#section-cadastro {
  display:flex;
  justify-content:center;
}
#section-cadastro .form {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:calc(100vh - 210px);
}
#section-cadastro .input {
  width:500px;
  height:50px;
  font-size:18px;
  padding:10px;
  border:1px solid #CCC;
  border-radius:7px;
  outline:0;
}
#section-cadastro input {
  margin-bottom:40px;
}
#section-cadastro .btn-info {
  width:492px;
  height:70px;
}
